<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}"/>
    
</head>
<body>
    <h1>Odane Williams</h1>
    <img src="{{url_for('static', filename='fluffy-red-thing.jpg')}}" alt="Image showing fluffy-red-thing">
    <p>Hi, my name is Odane Williams. I am an introverted individual who likes to be left alone but also likes to be around my loved ones, especially my girlfriend. I strive for many fields like database management, data security and web development. My main interest is in web development. It feels more relaxing to me than the other fields. I am in my final year at UWI and hope that I will be successful in all my future endeavours.</p>
</body>
<footer>
    <h2>Copyright &copy 2023 Odane Williams</h2>
</footer>
</html>